$primary-color: #fff;
$dark-color: #333;
$show-home-image: true;
$home-image: url(../img/body-img.jpg);
$background-opacity: 0.9;
$bg-opacity: 0.1;
$font-family: 'Open Sans', sans-serif;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
      &#bg-img {
        background: $home-image;
        background-size: cover;
        background-attachment: fixed;
        &:after  {
          content:url(../img/overlay.png);
          position: absolute;
          overflow: hidden;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba($primary-color, $bg-opacity);
          z-index: 2;
        }
      }
    }
  }



//Media Queries
@mixin mediaSm {
    @media screen and (max-width:500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width:768px) {
      @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width:769px) and (max-width:1170px) {
        @content;
    }
}
@mixin mediaXl {
    @media screen and (min-width:1171px){
        @content;
    }
}