//Navigation

nav {
    width: 100%;
    padding: 10px 120px;
    background: $dark-color;

    &.menu {
        display: flex;
        flex-direction: row;
    }

    ul {
        padding: 0;
        margin: 0;

        &.menu-nav {
            flex:2;
            display: flex;
            justify-content: center;
        }
        &.menu-dl {
            flex: 1;
            flex-basis: 50px;
        }

        li {
            list-style-type: none;

            &.menu-item {
                padding: 10px 15px;
                text-align: center;

                &.active, &.download, &:hover {
                    background: #000;
                    padding: 10px 15px;
                    border-radius: 7px;
                }

            }
        }
    }
}