//Navigation

nav {
    width: 100%;
    padding: 10px 120px;
    background: $dark-color;

    &.menu {
        display: flex;
        flex-direction: row;
    }

    ul {
        padding: 0;
        margin: 0;

        &.menu-nav {
            flex:2;
            display: flex;
            justify-content: center;
        }
        &.menu-dl {
            flex: 1;
            flex-basis: 50px;
        }

        li {
            list-style-type: none;

            &.menu-item {
                padding: 10px 20px;
                text-align: center;
                border-right: 1px solid $primary-color;
                box-sizing: border-box;

                &.active, &.download, &:hover {
                    background: #000;
                    border-radius: 7px;
                }

                &:hover {
                    @include easeOut;
                    border-color: transparent;
                }

                &.download {
                    margin: 0 185px;
                }

                &.active, &.download {
                    border-right: none!important;
                }

                &:last-child {
                    border-right: none;
                }

            }
        }
    }
}