//Widescreens

@include mediaXl {
  
}

//Desktops & Laptops
@include mediaLg {
  h1.lg-heading {
    font-size: 2.5rem;
  }

  h2.md-heading {
    font-size: 1.5rem;
  }

  h3.sm-heading {
    font-size: 1rem;
  }

  section#bg-challenge div.bg-challenge-content {
      padding: 20px;
    }
}

//Tablets & Notebooks
@include mediaMd {
  h1.lg-heading {
    font-size: 2.5rem;
  }

  h2.md-heading {
    font-size: 1.5rem;
  }

  h3.sm-heading {
    font-size: 1rem;
  }

  header {
    min-height: 50px;

    a.menu-btn {
      display: block;
      position: absolute;
      top: 10px;
      right: 0;
      padding: 5px 25px;
    }

    nav.menu {
      display: none;
  
      ul.menu-nav {
        list-style: none;
        margin-top: 35px;
        padding: 0;
        display: block;
  
        li.menu-item {
          text-align:center;
          padding: 10px 15px;
          border: none;

          &.active {
            @include easeOut;
            background: #000;
          }
        }
      }

      ul.menu-dl li.download {
        margin: 0;
      }
    }
  }
  
  

  // header nav.menu {
  //   display: none;
  // }

  section#bg-challenge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div.bg-challenge-content {
      padding: 20px 0;
    }
  }

  section#solution {
    display: block;
    padding: 0 50px;
  }

  section#results {
    display: block;

    div.tab-content {
      width: 100%;

      div.tab-media-content {
        display: block;
        min-height: auto;
        height: auto;

        div.video-frame {
          text-align: center;
        }

        div.video-text {
          padding: 20px 0;
          
          h3 {
            padding-bottom: 1rem;
            font-weight: 400;
          }

          p.link {
            position: relative;
            padding-top: 10px;
            text-align: left;
          }
        }
      }
    }
  }
}

//Smartphones
@include mediaSm {
  section#bg-challenge {
    display: block;

    div.bg-challenge-content {
      padding: 0px 0 20px;

      &.stack {
        margin-right: 0;
      }
    }
  }

  section#home div {
      padding: 0;
  }

  section#solution {
    display: block;
    padding: 0 50px;
  }

  section#results {
    display: block;

    div.tab-content {
      width: 100%;

      div.tab-media-content {
        display: block;
        min-height: auto;
        height: auto;

        div.video-text {
          padding: 20px 0;
          
          h3 {
            padding-bottom: 1rem;
            font-weight: 400;
          }

          p.link {
            position: relative;
            padding-top: 10px;
            text-align: left;
          }
        }
      }
    }
  }

  nav {
    padding: 20px 0;

    &.menu {
      display: block;
      
      ul.menu-nav {
        flex-direction: column;
        flex: 1;
      }

      ul.menu-dl {
       justify-content: flex-start;

       li.download {
         margin: 5px 10px;
       }
      }
    }
  }
}