@import 'config';
@import 'menu';
@import 'floating-nav';

* {
    box-sizing : border-box;
}

body {
    background: transparent;
    color: $primary-color;
    margin: 0;
    font-family: $font-family;
    font-size: 13px;
}

header {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100px;
    top: 0;
}

a {
    color: $primary-color;
    text-decoration: none;
}

h1,h2,h3 {
    margin: 0;
    line-height: 0.8;

    &.lg-heading {
        font-size: 4.3rem;
    }

    &.md-heading {
        font-size: 3rem;
    }

    &.sm-heading {
        font-size: 1.7rem;
    }

    &.heading-left {
        padding-left: 70px;
    }

    &.heading-light {
        font-weight: 300;
    }
}

p {
    font-size: 14px;
}

main {
    @include background;
}

// .video-bg {
//     position: fixed;
//     height: calc(100% + 100px);
//     width: 100%;
//     overflow: hidden;
//     top: 0;
//     left: 0;
//     z-index: 4;

//     video {
//         min-width: 100%;
//         min-height: 100%;
//         left: 50%;
//         position: absolute;
//         top: 50%;
//         transform: translate(-50%, -50%);
//     }
// }

section {
    height: 100vh;
    padding: 50px;

    &#home {
        display: flex;
        align-items: center;

        div {
            padding: 50px;

            &.banner-text {
                text-align: left;
                text-transform: uppercase;
            }
        }
    }

    &#solution {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: center;
        background: rgb(14,54,62);
        background: linear-gradient(0deg, rgba(14,54,62,1) 38%, rgba(0,0,0,0) 100%);

        div.sol-content {
            padding: 0 150px;

            &.banner-text {
                text-transform: uppercase;
                text-align: left;

            }

            &.stack {
               margin-right: 100px;

                h1, h2, h3 {
                    line-height: 1.2;
                }

                div {
                    margin-bottom: 30px;
                }
            }
        }
    }

    &#third {
        background: rgb(22,69,89);
        background: linear-gradient(0deg, rgba(22,69,89,1) 13%, rgba(14,54,62,1) 100%);
    }

    &#fourth {
        background: rgb(22,69,89);
        background: linear-gradient(0deg, rgba(22,69,89,1) 15%, rgba(21,66,85,1) 100%);
    }
}




@import 'mobile';